#intro {
	//width: 1000px;
	margin: 0 auto 34px;
	padding: 24px 36px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 18px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.1);
	color: #333;
	text-align: center;
}

#intro h1 {
	color: #2e8b57;
	font-size: 50px;
}

#intro p {
	font-size: 19px;
}

#nav {
	text-align:center;
	margin: auto;
	padding: 40px;
	width: 900px;
}

#nav a {
	display: inline-block;
	margin: 0px 34px;
	padding: 12px 34px;
	border-radius: 24px;
	background-color: #8cc269;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

#nav a:hover {
	background-color: #6eaf4b;
}

#Mandarin {
	width: 1200px;
	background-color: #e0ffff;
	margin: auto;
	padding: 48px;
}

#Mandarin .main-content h2 {
	font-size: 30px;
	text-align: center;
	color: #2e8b57;
}

#Mandarin .main-content .left .bookcard {
	background-color: #fff5ee;
	border-radius: 24px;
	margin: 24px 0 40px 0;
	overflow: hidden;
}

#Mandarin .main-content .right .bookcard {
	background-color: #fff5ee;
	border-radius: 24px;
	margin: 24px 0 40px 0;
	overflow: hidden;
}

#Mandarin .main-content .left .bookcard img {
	float: left;
	width: 270px;
	height: 220px;
	border-radius: 24px 0 0 24px;
}

#Mandarin .main-content .right .bookcard img {
	float: right;
	width: 270px;
	height: 220px;
	border-radius: 24px 0 0 24px;
}

#Mandarin .main-content .left .bookcard .card-text {
	//overflow: hidden;
	text-align: center;
}

#Mandarin .main-content .right .bookcard .card-text {
	//overflow: hidden;
	text-align: center;
}